html{
    background-image: url('./abstract-black-stripes-diagonal-background-free-vector.jpg');
}
#title{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 254, 176);
    width:30%;
    text-align: center;
    position: fixed;
    left: 37%;
    font-family: 'open Sans', sans-serif;
    border-radius: 5PX;

}
#subtitle{
    border: 5px solid rgb(55, 245, 52);
    background-color: rgb(85, 235, 59);
    width:70%;
    position: fixed;
    text-align: center;
    left: 15%;
    top: 20%;
    font-family: 'open Sans', sans-serif;
    border-radius: 5PX;
}
#num{
    border: .55px solid rgb(255, 247, 164);
    background-color: rgb(35, 34, 27);
    width: 30%;
    height: 20px;
    position: fixed;
    text-align: center;
    top: 43%;
    left: 35%; 
    border-radius: .5PX;
    color:rgb(248, 255, 170)

}
#check{
    border:.5px solid rgb(255, 255, 196);
    background-color: rgb(0, 0, 0);
    font-size: large;
    color: rgb(249, 240, 240);
    width: 20%;
    font-weight: 600;
    position: fixed;
    top: 50%;
    left: 25%;
    font-family: 'open Sans', sans-serif;
    border-radius: 5PX;

}
#refresh{
    border:.55px solid rgb(255, 253, 162);
    background-color: rgb(0, 0, 0);
    font-size: large;
    color: rgb(255, 243, 243);
    font-weight: 600;
    position:fixed;
    width : 20%;
    top: 50%;
    left: 55%;
    font-family: 'open Sans', sans-serif;
    border-radius: 5px;
}
#cornum{
    border: 0px solid rgb(55, 245, 52);
    color:rgb(251, 12, 12);
    width:70%;
    position: fixed;
    left: 15%;
    top: 30%;
    font-family: 'open Sans', sans-serif;
    text-align: center;
}

.thank{
    border: 5px solid grey;
    position: fixed;
    width: 70%;
    text-align: center;
    height: 50%;
    top: 20%;
    background-color: grey;
    color: white;
    font-family: sans-serif;
    font-size: xx-large;
    border-radius: 5px;
    left:15%;

    visibility: hidden;
    animation-name: example();
    animation-duration: 4s;

}
.tq{
    position: relative;
    top: 20%;

}
@keyframes example{
   from {visibility: 'hidden'}
   to {visibility: 'visible'}

  }